@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
</head>
<div class="captela">
        <img src="~/img/Captura de tela 2023-12-05 153241.png" />
    </div>
    <div class="titulo">
        <h1>Chocolate</h1>

        </div>
        <div class="titulo2">
            <h2>Chocolate da Cacau Show, já é tudo de bom, agora imagine todos os produtos no mesmo lugar. Isso sim é ser Feliz Hoje! Aproveite agora os chocolates da Cacau Show aqui.</h2>
        </div>

    <div class="propaganda1">
        <a href="https://www.worldcocoafoundation.org/"><img src="~/img/proágandacacaushow.png" /></a>
    </div>
    <img class="feliznatal" src="~/img/Captura de tela 2023-12-05 155448.png"/>